
nav{
    position: absolute;
    height: 105px;
    background: #030303;
}
.logo{
    position: absolute;
    width: 117px;
    height: 50px;
    left: 29px;
    top: 27px;
}
/* SECTION BANNER */
.container-logo{margin: 84px 0 0 0; }
.logo-overlay{
    position: absolute;
    max-width: 551px !important;
    max-height: 236px;
}
.logo-content{
    max-width: 181px;
    max-height: 78px;
}
.text-content{
    width: 730px;
    height: 72px;
    margin: 78px 0 0 0;
}
.text-filter{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.05em;
}
.test1{
    background-color: red;
}
    .text-filter-h1{line-height: 23px;color: #1B1B1B;}
    .text-filter-h2{line-height: 20px;color: #1B1B1B;}
    .text-filter-h3{color: #FFFFFF;}
    .text-filter-h4{color: #949494;}

.custom-margin-btn{
    top: 142px;
}
.custom-btn{
    padding : 17px 24px 14px 21px;
    border: 1px solid #1B1B1B;
    border-radius: 48px;
}
    .custom-btn-1{
        background: #FFFFFF;
        border: 1px solid #1B1B1B;
    }
    .custom-btn-2{
        background: transparent;
        border: 1px solid #FFFFFF;
    }
.container-menu{
    width: 1111px;
    height: 454px;
    margin: 70px 0 0 0;
}
.width1{width: 417px; padding: 0 0 0 59px;}
.width2{margin: 0 0 0 37px;}
.width3{margin: 37px 0 0 0;}
.width4{margin: 115px 0 0 0;}
.width5{margin: 126px 0 87px 0;}
.width6{padding: 70px 0 0 0;}
.width7{padding: 25px 25px 25px 25px;}
.menu-details{margin: 37px 0 0 0;}
.col-1 {width: 12.5%;}
.img-gallery{
    max-width: 100%;
    max-height: 100%;
    display: block; 
}
.box{width: 12.5%;}
.box2{width: 159.94px;}
.box3{background: #030303;height:320px;}
.box4{height: 100px;width: 1107px;}
.box5{background: #030303;}
.box-award{width: 537.44px;}
.box-note{width: 508px;}

/* animation */
.slideanim {
    visibility:hidden;
    visibility:visible\9;/*For old IE browsers IE6-8 */
}
.slideanim.slide {                  
    visibility: visible;                  
    animation: slide 1s;
}
.slideanim::after {
    /* useful when its child elements are float:left; */
    content: "";
    display: table;
    clear: both;
}
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(50%);
    } 
    100% {
        opacity: 1;
        transform: translateY(0);
    } 
}
/* image animation */
.image {
    width: 100%;
    transition: all 0.3s ease-in-out
}

.image:hover {
    transform: scale(1.2, 1.2);
    cursor: pointer
}
